/* Reset some default styling in browsers */
body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        .container {
            text-align: center;
            border: 2px solid #ddd;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            background-color: white;
        }

        .logo {
            width: 150px;
            height: auto;
            margin-bottom: 20px;
        }

        h1 {
            color: #535357;
        }

        #output {
            color: #51a419;
            font-family: 'Times New Roman', serif;
            font-size: 16px;
        }

        p {
            color: #51a419;
        }
